.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 200vh;
  padding: 2rem;
  /* border: 1px solid red; */
  /* background-color: pink; */
}
.heroes {
  height: 80vh;
  width: 100%;
  box-shadow: 2px 2px 3px rgb(7, 7, 7, 0.3);
  /* background-color: red; */
}
.hero-detail {
  height: 100%;
  width: 60vh;
  box-shadow: 2px 2px 3px rgb(7, 7, 7, 0.3);
  /* background-color: blue; */
}
